<a href="https://colab.research.google.com/github/praveenmech057/python_projects/blob/main/basic_code_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prime number check

n = int(input())

if n < 2:
  print("not prime")

else:
  for i in range(2,n):
    if n % i == 0:
      print("not prime")
      break
  else:
    print("prime")

6
not prime

In [ ]:
#Count Primes from 1 to N
n = int(input())

count = 0

for i in range (2,n+1):
      for j in range(2,i):
        if i % j == 0:
          break
      else:
        count += 1
print(count)

10
4

In [ ]:
# Palindrome Number
num = int(input())
temp = num
rev = 0


while temp != 0:
  last_digit = temp % 10
  rev = rev * 10+ last_digit
  temp = temp//10


if rev == num :
  print("palindrome")
else:
  print("not palindrome")

121
palindrome

In [ ]:
1# Reverse Number
n = int(input())
rev = 0
while n != 0:
  last_digit = n % 10
  rev = rev * 10 + last_digit
  n = n//10
print(rev)

12345
54321

In [ ]:
#Count Digits
n = int(input())
count = 0
while n != 0:
  last_digit = n % 10
  count += 1
  n = n//10
print(count)

123
3

In [ ]:
# sum of digits
n = int(input())
sum = 0

while n != 0:
  last_digit = n%10
  sum = sum + last_digit
  n = n//10
print(sum)

123
6

In [ ]:
# factorial
n = int(input())
fact = 1
for i in range (1,n+1):
  fact = fact * i
print(fact)

5
120

In [ ]:
# fibonacci number
n = int(input())
a,b = 0,1

for i in range(n):
  print(a,end=" ")
  a,b = b,a+b

10
0 1 1 2 3 5 8 13 21 34

In [ ]:
# Armstrong number
num  = int(input())
temp = num
digits = len(str(num))
sum = 0

while temp !=0:
  d = temp % 10
  sum = sum +d**digits
  temp = temp//10
print("amrstrong "if sum == num else "not armstrong")

134
not armstrong

In [ ]:
# find max and min in the list
lst = [10,30,40]
mx = lst[0]
mn = lst[0]

for x in lst:
  if x > mx : mx = x
  if x < mn : mn = x
print(mx,mn)

40 10

In [ ]:
# Reverse a string
s = "praveen"
rev  = " "
for ch in s:
  rev = ch+rev
print(rev)

neevarp

In [ ]:
# count of vowels
s = input()
vowels = "aeiouAEIOU"
count = 0

for ch in s:
  if ch in vowels:
    count +=1
print(count)

praveen
3

In [ ]:
s = "praveen"
vowels = "aeiouAEIOU"
count = 0
for ch in s:
  if ch in vowels:
    count += 1
print(count)

3

In [ ]:
def even_or_odd (num):
  if num%2==0:
    return "the number {} is even ".format(num)
  else:
    return "the number {} is odd".format(num)

In [ ]:
even_or_odd(4)

'the number 4 is even '

In [ ]:
lst = [1,2,3,45,7,89,3,23]

In [ ]:
map(even_or_odd,lst)

In [ ]:
list(map(even_or_odd,lst))

['the number 1 is odd',
 'the number 2 is even ',
 'the number 3 is odd',
 'the number 4 is even ',
 'the number 56 is even ',
 'the number 7 is odd']

In [ ]:
def even(num):
  if num%2==0:
    return True

In [ ]:
lst = [1,2,3,4,56,7]

In [ ]:
list(filter(even,lst))

[2, 4, 56]

In [ ]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, True, False]